*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #37353E;
    background-color: #D3DAD9;
}
.homePage{  
     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


input{
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    outline: none;
}
.login-box{
    
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    box-shadow: -2.5px 2.5px 2.5px #44444e6b;
    
}
.login-box > *{
    background-color: transparent;
}
#loginbtn{
    background-color: #44444E;
    color: #ffffff;
    border-radius: 5px;
    width: 50px;
    align-self: center;
    border-color: transparent;
}
#loginbtn:hover{
    background-color: #ffffff;
    color: #44444E;
}
.menuBarParent{
    display: flex;
    justify-content: center;
}

.menuBar{
    display: flex;
    background-color: #37353E;
    width: 100vh;
    height: 50px;
    border-radius: 999px;
    justify-content: center;
}

.menuBar > * {
    border-radius: 999px;
    width: 100vh;
    background-color: #D3DAD9;
}

.menuBar > *:hover:not(.active){
    background-color: red;
}
.menuBar > *.active{
    background-color: black;
}
